extends layout

block title
    title= name + ' - Auction Express'

block content
    .lot        
        .img-preview
            each img, index in images_urls
                .img-mini: img(src=img onclick='currentImg('+index+')')
                
        .img-full
            each img, index in images_urls
                .img-fullsize: img(src=img)

        .item-bid
            .item-bid-header
                h1= name
                .time-left 5д 16ч 22м

            .item-bid-body
                .price= '$' + price
                form.place-bid(action='')
                    input(type='text')
                    button place bid
                hr
                .save-item
                    button save item

    .lot-info
        //- input#lot-info-left(type='radio' name='lot-info-tabs' checked)
        //- label(for='lot-info-left') Информация о лоте
        //- input#lot-info-middle(type='radio' name='lot-info-tabs')
        //- label(for='lot-info-middle') Оплата
        //- input#lot-info-right(type='radio' name='lot-info-tabs')
        //- label(for='lot-info-right') Доп. Информация

        //- .tabs
        //-     .lot-details 
        //-         p Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde corporis, maiores aliquam quisquam odio incidunt cum reprehenderit laborum esse. Voluptate?
        //-     .payment-info
        //-         p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, ut.
        //-     .service-info 
        //-         p Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde corporis, maiores aliquam quisquam odio incidunt cum reprehenderit laborum esse. Voluptate?

        .tabs
            div(onclick='currentTab(0)') Информация о лоте
            div(onclick='currentTab(1)') Оплата
            div(onclick='currentTab(2)') Доп. Информация
        .info
            div 
                p= description
            div 
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate laudantium eligendi dolor! Rerum ducimus quidem mollitia similique nihil, dolor accusamus corrupti debitis maxime nostrum, pariatur repellat! Voluptatem assumenda delectus enim sed. Pariatur velit tempora, placeat harum illum quibusdam nesciunt voluptatum accusantium consequuntur veritatis impedit ratione quod illo unde dolorum minima labore! Ipsa fugit quaerat corporis iusto ipsam itaque cumque architecto quod omnis. Perspiciatis ipsum asperiores pariatur, maiores neque aut dicta quisquam ipsam voluptatum voluptates nobis modi ipsa a beatae, iusto quam veniam. Soluta ad vero assumenda quasi ipsum alias, nesciunt obcaecati iusto mollitia voluptatum rem, harum tenetur officia praesentium fugiat possimus fuga aspernatur numquam, distinctio delectus reiciendis? Facere, animi at. Facere inventore porro ex explicabo iure veritatis harum quis maxime obcaecati laudantium? Facere dolores voluptatibus quas quam sed at nihil optio quasi culpa beatae et, rem tempore dolorem commodi aliquid repellat similique officiis nesciunt ipsa officia? Rem fuga tempora laborum. Velit exercitationem consequatur iste excepturi assumenda, commodi temporibus obcaecati delectus rem animi facilis sequi incidunt reprehenderit voluptas odit modi placeat deserunt ut quisquam iusto accusantium quibusdam amet? Molestiae quo perspiciatis impedit molestias doloremque reprehenderit blanditiis deserunt, placeat error quibusdam quis odit quia consequatur nesciunt maxime eos ea nemo mollitia a minus praesentium eaque! Eveniet quaerat, alias ea atque suscipit pariatur, voluptate eos ipsum magni nesciunt iste, maiores quidem nisi. Accusamus doloremque provident quidem natus eveniet. Doloribus itaque nesciunt quaerat fuga eligendi, ipsum enim accusantium temporibus eos, tempore animi porro, asperiores voluptatum nam? Obcaecati suscipit doloremque accusamus quisquam nisi repellat fuga aut, officiis, dicta atque quasi explicabo perferendis laborum est earum ab inventore? Illum incidunt iusto reprehenderit molestias voluptatum consectetur iste ipsam sunt, facere distinctio, exercitationem reiciendis impedit aliquam veniam aliquid laudantium. Repellat cumque ex possimus numquam quo. Autem eos, in repudiandae nam quo praesentium! Atque consequuntur dolor natus, quaerat aliquid accusamus magni quidem harum corrupti labore ad velit reprehenderit sapiente odio quia dolore alias eaque numquam nostrum similique quam. Molestiae odio blanditiis dolores esse reprehenderit obcaecati quia aliquid dolor natus sunt quos cupiditate a exercitationem porro corporis quibusdam laboriosam quae vero, consectetur tempore autem quaerat. Quas illum nostrum recusandae mollitia quis, iste, laudantium maiores quidem vero earum odit magni ipsa alias sint dolorem commodi molestias accusantium repellat, officiis deleniti! Tempora nesciunt ut a omnis adipisci. Maxime accusamus, quibusdam id esse nostrum quas eum tempore necessitatibus reiciendis! Sequi nihil ea odit, tempore dicta commodi id officiis. Perferendis mollitia error consectetur sequi repudiandae doloremque, veniam sit omnis maiores quod fuga debitis in magni porro eius saepe recusandae. Laudantium doloremque excepturi repellendus explicabo minus illo similique quasi atque numquam minima inventore porro praesentium natus aspernatur iure ad consequuntur, ratione nostrum alias consectetur quia. Iusto nulla sit praesentium rerum similique eligendi obcaecati officia assumenda, voluptatum aperiam dicta qui nostrum voluptatibus nobis expedita velit autem accusamus molestiae enim quo nemo, exercitationem quidem. Error ipsam quo vitae hic ullam aspernatur ex dolore consequuntur aliquam eos voluptatem optio repudiandae distinctio accusantium nemo autem, aliquid numquam similique magnam. Sed nostrum maxime, error hic, tenetur deleniti, at porro quis numquam ratione officia amet! Amet voluptas sint ex molestias, modi possimus enim a distinctio tempora incidunt dolores, quibusdam voluptate dolor esse excepturi praesentium tenetur sapiente ipsam consequatur. Amet hic porro non, iusto sequi odit aliquid repellendus saepe magnam, nam tempore! Libero soluta doloribus sapiente obcaecati atque minima illo totam debitis temporibus quia fuga excepturi laboriosam vel, dignissimos, expedita quaerat ratione? Repudiandae pariatur officiis commodi illum a cupiditate voluptatem, iure minima quam reprehenderit reiciendis necessitatibus! Quam aliquam expedita doloribus! Minima tempore amet maiores expedita suscipit modi, consectetur laboriosam mollitia numquam pariatur. Minus cupiditate praesentium totam fugit dolorem ipsum autem eaque sapiente consequuntur tempora in, omnis eius vitae alias labore dolore eum voluptatibus accusantium facilis nostrum impedit sequi? Labore omnis est magnam rem voluptate in minus! Illo praesentium consequatur magni non beatae eligendi exercitationem minus nobis. Esse voluptatum deleniti consectetur commodi nesciunt ut adipisci veniam ex optio voluptatem hic obcaecati pariatur asperiores rem aperiam perspiciatis fugit, provident aliquid, quisquam quod! Fuga voluptate at quod odit doloremque laboriosam excepturi fugit distinctio atque nisi, minus ratione porro itaque? Esse quae voluptate id dolorum aperiam aspernatur necessitatibus. Expedita vero cumque nisi aut neque perferendis cum iure ducimus, harum fugiat nemo modi velit in quidem, doloribus quos minima assumenda reprehenderit praesentium rerum illum veniam. Quis magni numquam, recusandae deleniti ullam tempore nisi distinctio architecto eveniet dolorem et quaerat dolore deserunt, enim repellendus, quidem quam possimus in! Illum sapiente excepturi reiciendis sint distinctio dignissimos, quod quis veritatis pariatur est tempora ipsum reprehenderit dicta, omnis asperiores autem impedit facere esse quisquam quaerat alias iusto enim! Aliquam eius sequi sed quidem vitae ipsum ducimus optio ullam nihil nam tenetur sint nobis quisquam perspiciatis consequuntur autem dolorem maxime, perferendis dicta quibusdam vero officiis. Quae a ut praesentium soluta repellat optio dicta repudiandae harum natus itaque, facilis, provident nostrum recusandae saepe laboriosam illo accusantium. Voluptates voluptatibus sapiente repudiandae! Eligendi ipsam labore nemo. Minima et autem debitis tempora laboriosam cum quis cupiditate, mollitia eius pariatur adipisci numquam incidunt neque, recusandae quos? Consequatur tempore illum reprehenderit deserunt sint! Repudiandae quam natus quia id laudantium. Blanditiis, porro debitis laboriosam provident veritatis ipsa hic atque quam placeat magnam alias totam aperiam praesentium, perferendis odit expedita amet in qui non. Non iure corporis quis magnam? Quae, assumenda? Consequatur, laboriosam sint numquam molestiae recusandae dolorem debitis culpa repellat dolorum repudiandae? Aspernatur labore, ipsum nostrum quaerat quidem porro maiores odio ab accusamus temporibus exercitationem quisquam consequuntur sit veritatis quos qui. Libero necessitatibus nobis officia voluptatum quos possimus cumque amet! Eum, consectetur ipsum. Error eaque, animi veritatis perspiciatis, dolores aliquam corporis voluptatem excepturi mollitia sit numquam, reprehenderit nisi! Perspiciatis sed officia natus fugiat, beatae recusandae eaque, mollitia libero similique rem eligendi non debitis ratione, laborum esse iure! Eius dolore maxime provident perferendis nesciunt ratione illo repellendus velit doloremque? Dicta, culpa. Delectus facilis esse, dicta est consectetur iusto porro eos cumque exercitationem officiis neque placeat magnam suscipit aliquid doloremque illo odit vitae cupiditate atque laboriosam sunt itaque quam. In beatae libero quasi porro molestias sed nesciunt iusto tempore iure nulla?
            div
                h4 Правила проведения аукциона
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis quod dolorum, ipsum, blanditiis saepe, corporis distinctio voluptate possimus debitis quos voluptatum nisi. Ad eveniet ex, tempora quam, ducimus architecto vel eaque ipsa error alias id ut consequatur quaerat temporibus sapiente illo voluptates ratione minima quo? Praesentium laudantium pariatur necessitatibus vero, repellendus amet architecto molestias nobis, ducimus, totam veritatis possimus itaque explicabo. Quia animi officiis dolores consectetur hic quod cum alias. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Neque itaque, necessitatibus nihil atque repellat fuga non molestiae eligendi eos, animi est velit illo iusto, deserunt libero porro sunt consequuntur assumenda!

    script(src='/javascripts/imgPreview.js')
    script(src='/javascripts/lotInfo.js')